<div class="row">
  <div class="col">
    <div class="page-header">
      <h1>Administración <small>Entry</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table-resposive">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Idioma</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of entries;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{entry.title}}</td>
                <td>{{entry.lang}}</td>
                <td>{{entry.state}}</td>
                <td>{{entry.lang}}</td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination (pageChange)="OnPageChange($event)" [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>

  </div>
</div>